<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Типи продукції</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/table_styles.css' %}">

  
</head>
<body>
    <!-- Навігаційне меню -->
    {% include "navigation/partials/navbar.html" %}
    
    <div class="container-fluid"> <!-- Зміна на container-fluid -->
        <h1 class="text-center my-4">Довідник типи продукції</h1>
        <form method="get" class="search-form">
            <div class="input-group">
                <input type="text" name="search" class="form-control" placeholder="Типи продукції" 
                       value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-primary">Шукати</button>
            </div>
        </form>
        <div class="table-container">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="col-product_type_id">Код</th>
                        <th class="col-name">Тип продукції</th>
                        <th class="col-height">Підрозділ</th>
                        <th class="col-width">Коротко</th>
                        <th class="col-thickness">Група</th>
                        <th class="col-box_amount">Назва для експорту</th>
                        <th class="col-package_amount">На етикетку</th>
                        <th class="col-box_weight">Для паспорту</th>
                        <th class="col-tolerance">Поле калібр</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in page_obj %}
                    <tr>
                        <td>{{ type.product_type_id|default:"-" }}</td>
                        <td>{{ type.name|default:"-" }}</td>
                        <td>{{ type.subdivision_id|default:"-" }}</td>
                        <td>{{ type.short_name|default:"-" }}</td>
                        <td>{{ type.product_group_id|default:"-" }}</td>
                        <td>{{ type.export_name|default:"-" }}</td>
                        <td>{{ type.label_name|default:"-" }}</td>
                        <td>{{ type.tile_passport_group_id|default:"-" }}</td>
                        <td>{% if type.use_claiber %}✅{% endif %}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "tiles/pagination_partial.html" %}
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelectorAll('.dropdown-submenu .dropdown-toggle').forEach(function (element) {
            element.addEventListener('click', function (e) {
                e.preventDefault();
                e.stopPropagation();
                const submenu = this.nextElementSibling;
                if (submenu) submenu.classList.toggle('show');
            });
        });
    </script>
</body>
</html>
