{% extends "navigation/base.html" %}

{% block title %}Види Матеріалів{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center my-4">Види Матеріалів</h1>
    <form method="get" class="search-form">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Види Матеріалів"
                   value="{{ request.GET.search }}">
            <button type="submit" class="btn btn-primary">Шукати</button>
        </div>
    </form>
    <div class="table-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <a href="?sort=id&dir={% if sort == 'id' and dir != 'desc' %}desc{% else %}asc{% endif %}">
                            Код
                        </a>
                    </th>
                    <th>
                        <a href="?sort=material_type_id&dir={% if sort == 'name' and dir != 'desc' %}desc{% else %}asc{% endif %}">
                            Вид матеріалу
                        </a>
                    </th>
                    

                </tr>
            </thead>
            <tbody>
                {% for materials in page_obj %}
                <tr>
                    <td>{{ materials.id|default:"-" }}</td>
                    <td>{{ materials.name|default:"-" }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "tiles/pagination_partial.html" %}
</div>
{% endblock %}
