{% comment %} {% load static %} {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'css/table_styles.css' %}"> {% endcomment %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Hyperion 2.0</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Довідники -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Довідники</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Готова продукція</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'tiles:product_types_list' %}">Типи продукції</a></li>
                                <li><a class="dropdown-item" href="{% url 'units:product_units_list' %}">Од. Вимір. готової продукції</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:product_groups_list' %}">Групи продукції</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:collections_tiles_list' %}">Колекції</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:tiles_types_list' %}">Типи плитки</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:caliber_list' %}">Калібри плитки</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:geometry_tiles_list' %}">Геометрія плитки</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:design_list' %}">Дизайни</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:product_quality_list' %}">Сорти плитки</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:hues_tiles_list' %}">Відтінки</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:glaze_tiles_list' %}">Глазурі</a></li>
                                <li><a class="dropdown-item" href="{% url 'tiles:labels_product_list' %}">Етикетки на коробки</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Виробництво</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'productions:production_line_groups_list' %}">Групи виробничих ліній</a></li>
                                <li><a class="dropdown-item" href="{% url 'productions:production_lines_list' %}">Лінії виробництва</a></li>
                                <li><a class="dropdown-item" href="{% url 'productions:production_lines_assignment' %}">Призначення ліній</a></li>
                                <li><a class="dropdown-item" href="{% url 'equipments:equipments_kilns_list' %}">Печі</a></li>

                                <li><a class="dropdown-item" href="{% url 'company_structure:shifts_list' %}">Зміни</a></li>

                                <li><a class="dropdown-item" href="#">Причини зупинок</a></li>
                                <li><a class="dropdown-item" href="#">Опис зупинок</a></li>
                                <li><a class="dropdown-item" href="{% url 'company_structure:departments_list' %}">Цеха</a></li>
                                <li><a class="dropdown-item" href="{% url 'productions:production_sections_list' %}">Дільниці</a></li>
                                <li><a class="dropdown-item" href="#">Лінії підготовки</a></li>
                                <li><a class="dropdown-item" href="#">Групи обладнання</a></li>
                                <li><a class="dropdown-item" href="#">Обладнання</a></li>
                                 <li><a class="dropdown-item" href="#">Типи оснастки</a></li>
                                <li><a class="dropdown-item" href="#">Оснастка</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Матеріали</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'materials:material_kinds_list' %}">Види матеріалів</a></li>
                                <li><a class="dropdown-item" href="{% url 'materials:material_types_list' %}">Типи матеріалів</a></li>
                                <li><a class="dropdown-item" href="{% url 'materials:material_groups_list' %}">Групи матеріалів</a></li>
                                <li><a class="dropdown-item" href="{% url 'materials:materials_list' %}">Матеріали</a></li>
                                <li><a class="dropdown-item" href="{% url 'materials:material_units_list' %}">Од. Вим. матеріалів</a></li>
                                <li><a class="dropdown-item" href="{% url 'materials:materials_master_detail' %}">Прив'язка матеріалів до виробництва</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Технологи</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Адміністрування</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Комірники</a></li>
                                <li><a class="dropdown-item" href="#">Лаборанти</a></li>
                                <li><a class="dropdown-item" href="#">Технологи</a></li>
                                <li><a class="dropdown-item" href="#">Склади</a></li>
                                <li><a class="dropdown-item" href="#">Користувачі</a></li>
                                <li><a class="dropdown-item" href="#">Інше</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Журнали -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Журнали</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Контроль якості</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Контроль готової продукції</a></li>
                                <li><a class="dropdown-item" href="#">Вхідний контроль матеріалів</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Виробництво</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Звіт зміни</a></li>
                                <li><a class="dropdown-item" href="#">Звіт пічі та преси</a></li>
                                <li><a class="dropdown-item" href="#">Звіт виробництва по сировині</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Матеріали</a></li>
                        <li><a class="dropdown-item" href="#">Технологи</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Адміністрування</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Комірники</a></li>
                                <li><a class="dropdown-item" href="#">Лаборанти</a></li>
                                <li><a class="dropdown-item" href="#">Технологи</a></li>
                                <li><a class="dropdown-item" href="#">Склади</a></li>
                                <li><a class="dropdown-item" href="#">Користувачі</a></li>
                                <li><a class="dropdown-item" href="#">Інше</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Звіти -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Звіти</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Готова продукція</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Типи продукції</a></li>
                                <li><a class="dropdown-item" href="#">Одиниці вимірювання</a></li>
                                <li><a class="dropdown-item" href="#">Групи продукції</a></li>
                                <li><a class="dropdown-item" href="#">Колекції</a></li>
                                <li><a class="dropdown-item" href="#">Типи плитки</a></li>
                                <li><a class="dropdown-item" href="tiles\caliber">Калібри плитки</a></li>
                                <li><a class="dropdown-item" href="#">Геометрія плитки</a></li>
                                <li><a class="dropdown-item" href="\tiles">Дизайни</a></li>
                                <li><a class="dropdown-item" href="#">Сорти плитки</a></li>
                                <li><a class="dropdown-item" href="#">Відтінки</a></li>
                                <li><a class="dropdown-item" href="#">Глазурі</a></li>
                                <li><a class="dropdown-item" href="#">Етикетки на коробки</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Виробництво</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Групи виробничих ліній</a></li>
                                <li><a class="dropdown-item" href="#">Лінії виробництва</a></li>
                                <li><a class="dropdown-item" href="#">Призначення ліній</a></li>
                                <li><a class="dropdown-item" href="#">Печі</a></li>
                                <li><a class="dropdown-item" href="#">Зміни</a></li>
                                <li><a class="dropdown-item" href="#">Причини зупинок</a></li>
                                <li><a class="dropdown-item" href="#">Опис зупинок</a></li>
                                <li><a class="dropdown-item" href="#">Цеха</a></li>
                                <li><a class="dropdown-item" href="#">Дільниці</a></li>
                                <li><a class="dropdown-item" href="#">Лінії підготовки</a></li>
                                <li><a class="dropdown-item" href="#">Групи обладнання</a></li>
                                <li><a class="dropdown-item" href="#">Обладнання</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="#">Матеріали</a></li>
                        <li><a class="dropdown-item" href="#">Технологи</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Адміністрування</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Комірники</a></li>
                                <li><a class="dropdown-item" href="#">Лаборанти</a></li>
                                <li><a class="dropdown-item" href="#">Технологи</a></li>
                                <li><a class="dropdown-item" href="#">Склади</a></li>
                                <li><a class="dropdown-item" href="#">Користувачі</a></li>
                                <li><a class="dropdown-item" href="#">Інше</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- Обробки -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Обробки</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Опис  F1</a></li>
                        <li><a class="dropdown-item" href="#">Навчальне відео</a></li>
                        <li><a class="dropdown-item" href="#">Про програму</a></li>
                    </ul>
                </li>
                <!--Zip -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Запчастини</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'zip_app:firms_list' %}">Фірми</a></li>
                        <li><a class="dropdown-item" href="#">Каталог</a></li>
                        <li><a class="dropdown-item" href="{% url 'zip_app:orders_list' %}">Виконання замовлень</a></li>
                    </ul>
                </li>
                <!-- Довідка -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Довідка</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Опис  F1</a></li>
                        <li><a class="dropdown-item" href="#">Навчальне відео</a></li>
                        <li><a class="dropdown-item" href="#">Про програму</a></li>
                    </ul>
                </li>
                <!-- Адмінка -->
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Адмінка</a>
                </li>
            </ul>
        </div>
    </div>
</nav>