
{% extends "navigation/base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/table_styles.css' %}">
{% block title %}Фірми{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center my-4">Фірми</h1>
    <form method="get" class="search-form">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Назва фірми"
                   value="{{ request.GET.search }}">
            <button type="submit" class="btn btn-primary">Шукати</button>
        </div>
    </form>
   <div class="table-container">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-firms_id">Код</th>
                <th class="col-name">Назва фірми</th>
                <th class="col-section_id">Розділ</th>
                
            </tr>
        </thead>
        <tbody>
            {% for firm in firms %}
                <tr>
                    <td>{{ firm.firms_id|default:"-" }}</td>
                    <td>{{ firm.name|default:"-" }}</td>
                    <td>{{ firm.section|default:"-" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% include "tiles/pagination_partial.html" %}
</div>
{% endblock %}
